/*Styling info for the following tags*/
html, body, h1, h2, h3, h4, h5, h6 
{
  font-family: "Comic Sans MS";
}

/*Font coloring for h1 tags*/
h1 
{
    color: darkslategrey;
    text-align: center;
}

/*Background color of webpage*/
body {
    background-color: navajowhite;
}

/*Nav bar background color*/
.nav {
  background-color: chocolate;
}

/*Nav bar font && placement info*/
.nav a {
  float: left;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 20px;
  padding: 15px 40px;
  text-decoration: none;
}

/*Hover link coloring*/
.nav a:hover {
  background-color: white;
  color: black;
}

/*Active link coloring*/
.nav a.active {
  background-color: brown;
  color: white;
}

.table {
  background-color: white;
}

.table td:hover {
  background-color:brown;
  color: white;
  }